html{
    width: 100%;
    height: 100%;
    line-height: 150%;
}

body{
    position: absolute; 
    font-family:'Inter';
    font-style: normal;
    font-weight: 400;
    background-color: #F3F5FC;
}
main{
    display: flex;
    margin: 100px 50px 0 100px;
}

/*Logo*/
.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}
/*Ingresar texto*/
main{
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}

.input-texto{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 340px;
    top: 168px;
    font-size: 32px;
    border-style: none;
    outline: none;
    background-color: #F3F5FC;
    resize: none;
}

.input-texto::placeholder{
    color: #072B61;
}

.advertencia{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;
}
     
.vector{
    position: absolute;
    top: 661px;
    left: 336px;
    width: 16px;
    height: 16px;
}

.informacion{
    top: 661px;
    left: 364px;
    width: 300px;
    height: 18px;
    opacity: 80%;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    position: absolute;
    color: #495057;
    opacity: 0.8;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    /*Texto del boton*/
    width: 280px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.encriptar{
    /*Caja del boton*/
    position: absolute;
    top: 691px;
    left: 340px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 0;
    /*Color del texto*/
    color: #FFFFFF;
}

.desencriptar{
   /*Caja del boton*/
   position: absolute;
   top: 691px;
   left: 692px;
   margin-left: 30px;
   width: 328px;
   height: 67px;
   border:1px solid #0A3871;
   border-radius: 24px;
   background-color: #D8DFE8;
   box-sizing: border-box;
   flex: none;
   order: 1;
   flex-grow: 0;
   /*Color del texto*/
   color: #0A3871;
}

.mensaje-box{
position: absolute;
width: 400px;
height: 800px;
left: 1100px;
top: 40px;

background: #FFFFFF;

box-shadow: 10px 24px 32px 30px rgba(56, 1, 102, 0.08);
border-radius: 32px;
}
    
.mensaje-box h2{ 
    position: absolute;
    width: 336px;
    height: 58px;
    left: 32px;
    top: 579px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 120%;

    text-align: center;

    color: #343A40;
    background: #FFFFFF;
}
    
.mensaje-box h3{
    position: absolute;
    width: 336px;
    height: 48px;
    top: 653px;
    left: 32px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
    text-align: center;
    
    color: #495057;
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.box-muñeco img{
    position: absolute;
    height: 304px;
    width: 336px;
    left: 32px;
    top: 150px;
   
    
    background: #FFFFFF;
}

.input-mensaje{
    position: absolute;
    width: 336px;
    height: 600px;
    left: 32px;
    top: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #495057;
    border:none;
    background:transparent; 
    border-style: none;
    outline: none; 
    resize: none;
}

.input-mensaje:focus{
    border: none;
    background: transparent;
}

.copiar{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 32px;
    top: 650px;

    border: 1px solid #0A3871;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    flex: none;
    order: 0;
    flex-grow: 1;
    justify-content: center;
    color: #0A3871;
}

img.copyAdvertencia{
    left: 47px;
    top: 2px;
    position: absolute;
    width: 16px;
    height: 16px;
}

p.copy-advertencia{
    left: 52px;
    top: 1px;
    width: 300px;
    height: 18px;
    opacity: 80%;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    position: absolute;
    text-align: center;
    color: #495057;
    opacity: 0.8;
}

.a, img#linkedin{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 1225px;
    top: 785px;
    background: #E9ECF8;
}

.a, img#github{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 1325px;
    top:784px;
    background: #E9ECF8;
}

footer{
    position: absolute;
    background: #0A3871;
    padding: 16px;
    width: 1480px;
    left: 160px;
    top: 919px;
}

.copyright{
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    margin: 20px;
}


@media only screen and (min-device-width : 300px) and (max-device-width : 480px){
    main{
        height: 100%;
    }

    .logo{
        height: 100%;
        top: 1rem;
        left: 50%;
        width:25%;
    }

    .input-texto{
        width:20rem;
        top:8rem;
        left:5rem;
        font-size: 22px;
        word-wrap: break-word;
    }

    textarea#input-texto.input-texto{
        height: 624px;
        width: 343px;
    }

    .grupo-adv{
        left:2.3rem;
        top:24rem;
    }

    .vector{
        width: 16px;
        height: 16px;
        top: 452px;
        left: 65px;
    }
    
    .informacion{
        top: 451px;
        left: 85px;
        width: 208px;
        height: 18px;

    }

    .botones{
        flex-direction: column;
        top:25.5rem;
        left:1.5rem;
    }
    
    .encriptar{
        top: 485px;
        left: 45px;

        width: 320px;
        font-size:20px;
        height:65px;
        margin: 0.5rem;    
    }

    .desencriptar{
        width: 320px;
        font-size:20px;
        height:65px;
        margin: 0.5rem;
        top: 576px;
        left: 45px;

    }

    .mensaje-box{
        width: 327px;
        height: 186px;
        left: 50px;
        top: 707px;
        
    }

    .mensaje-box h2{ 
        width: 263px;
        height: 58px;
        top: 32px;
        left: 32px;
    }
            
    .mensaje-box h3{
        width: 263px;
        height: 48px;
        top: 106px;
        left: 32px;
    }

    .box-muñeco img{
        display: none;
    }

    .input-mensaje{
      width: 17rem;
      top: 1.5rem;
      height:8rem;
      left:1.5rem;
      font-size: 20px;
      word-wrap: break-word;
      text-align: center;
    }

    .input-mensaje:focus{
        border: none;
        background: transparent;
    }

    .copiar{
        top: 7rem;
        left: 1.5rem;
        width: 279px;
        height: 62px;
        font-size: 20px;
    }

    img.copyAdvertencia{
        left: 12px;
        top: -40px;
    }

    p.copy-advertencia{
        left: 17px;
        top: -40px;
    }

    .a, img#linkedin{
        top: 900px;
        left: 75px;
    }

    .a, img#github{
        top: 900px;
        left: 300px;
    }

    footer{
        text-align: center;
        width: 385px;
        margin-left: 5px;
        margin-right: 5px;
        left: 0px;
        top: 950px;
    }
}